<a href="{{ link_url }}">
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img src="{{ image_url }}"/>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{ title }}</p>
          <p class="subtitle">{{ date }}</p>
        </div>
      </div>
    </div>
  </div>
</a>
